h5, h6, h4, h3, h2, h1{
    background-color: yellow;
}

thead {
    background-color: aqua;
}

tbody {
    background-color: lightblue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

.grade-produtos {
    border: 1px solid black;
    background-color: aqua;
}

p {
    background-color: yellow;
}

.preco {
    background-color: lightgreen;
}


